<!DOCTYPE html>
<html>
  <head>
    <title>SalaryManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Application CSS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <!-- Application JavaScript (includes React) -->
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
